body{
    background-color: antiquewhite;
}
nav{
        list-style-type: none;
        display: grid;
        justify-content: space-around;  
        border: 2px solid burlywood;
    }
@media screen and (min-width: 600px){
body{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}
.nav{
    grid-column: 1;
    grid-row: 1;
    margin: 0px;
    padding: 0px;
    gap: 15px;
}
}