/*.body{
    background-color: blue;
}
@media screen and (min-width: 460px){
    .body
    {background-color: red;}
}
@media screen and (min-width: 600px){
    .body
    {background-color: green;}
}
/*
/* This is for second activity*/

@media screen and (max-width: 600px){
    nav{
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;  
    }
    nav a{
        margin: 35px;
    }
}
@media screen and (min-width: 601px){
body{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto;
}
.nav{
    grid-column: 1;
    grid-row: 1;
}
.nav a{
    display: list-item;
    margin: 10px;
}
}